*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./YellowManiac.png");
    background-size: cover;
    background-position-y: 135px;
    background-position-x: center;
    padding: 0 8;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: black;
}

.nav-logo img{
    width: 160px;
}

.nav-links{
    
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
    margin-left: 45px;
    color:rgb(255, 230, 0);
    border-radius: 4px;
    padding: 8px 30px;
    
}

.nav-links .btn-1:hover{
    transition: 0.8s ease;
    background:rgb(255, 217, 0);
    color:#000;
    padding: 8px 30px;
    border-radius: 4px;
}

.nav-links .btn-2:hover{
    transition: 0.8s ease;
    background:rgb(255, 217, 0);
    color:#000;
    padding: 8px 30px;
    border-radius: 4px;
}
.nav-links .btn-3:hover{
    transition: 0.8s ease;
    background:rgb(255, 217, 0);
    color:#000;
    padding: 8px 30px;
    border-radius: 4px;
}
.nav-links .btn-4:hover{
    transition: 0.8s ease;
    background:rgb(255, 217, 0);
    color:#000;
    padding: 8px 30px;
    border-radius: 4px;
}






.container-2{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./BackgroundP2.png");
    background-size: cover;
    background-position-y: 0px;
    background-position-x: center;
    padding: 0 8;

}
.nav2-logo-about img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.text-about{
    font-family: 'Courier New', monospace;
    font-size: 1.8rem;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 0;
    color: yellow;
}








@media(max-width:700px){
    .container{
        height: 100%;
        width: 100%;
    }
    .container-2{
        height: 100%;
        width: 100%;
    }
    
    .nav-logo{
        flex: 100%;
        margin-bottom: 10px ;
        text-align: center;
    }
    .nav-links{
        justify-content: center;

    }
    .nav-links a{
        margin-left: 6px;
        margin-right: 6px;
    }

    .nav-links .btn-2{
        padding: 70px;
        
    }
    .nav-links .btn-3{
        padding: 35px;
    }
    .container{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./YellowManiac1.1.png");
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position-y: 135px;
        background-position-x: center;
        padding: 0 8;
    }
}