*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }


.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./YellowManiac.png");
    background-size: cover;
    background-position-y: 135px;
    background-position-x: center;
    padding: 0 8;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: black;
    
    
}

.nav-logo img{
    width: 160px;
}

.nav-links{
    margin-left: 100px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: gold;
    margin-left: 45px;
    border-radius: 4px;
    padding: 8px 30px;
    
}

.nav-links .btn:hover{
    transition: 0.8s ease;
    background:rgb(255, 217, 0);
    color:#000;
    padding: 8px 30px;
    border-radius: 4px;
}






.container-2{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./BackgroundP2.png");
    background-size: cover;
    background-position-y: 0px;
    background-position-x: center;
    padding: 0 8;

}
.nav2-logo-about img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.text-about{
    font-family: 'Courier New', monospace;
    font-size: 1.8rem;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 0;
    color: yellow;
}

.container-3{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./BackgroundP3.png");
    background-size: cover;
    background-position-y: 0px;
    background-position-x: center;
    padding: 0 8;
}

.p3-logo-projects img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.rpg-text-big{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 37%;
    color: gold;
    margin-bottom:  2rem;
    font-size: 100%;
}

.rpg-photo img{
    margin-left: 10%;
    width: 80%;
}

.rpg-text{
    font-family: 'Courier New', monospace;
    text-transform: capitalize;
    margin-left: 22.5%;
    font-size: 1.8rem;
    color: gold;
    
}


.container-4{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./BackgroundP3.png");
    background-size: cover;
    background-position-y: 0px;
    background-position-x: center;
    padding: 0 8;
}






@media(max-width:700px){
    .text-about{
        font-family: 'Courier New', monospace;
        font-size: 1.4rem;
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 50px;
        margin-right: 0;
        color: yellow;
    }
    .container{
        height: 100%;
        width: 100%;
    }
    .container-2{
        height: 100%;
        width: 100%;
    }
    
    .nav-logo{
        flex: 100%;
        margin-bottom: 10px ;
        text-align: center;
    }

    .nav-links{
        margin-top: 70px;
    }

    .nav-links a{

        transform: translate(+78%, -50%); 
        display: block;
        margin: 5px;
        color: orange;
        
        


    }

    .container{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(89, 90, 7, 0.6)), url("./YellowManiac1.1.png");
        width: 100%;
        min-height: 110vh;
        background-size: cover;
        background-position-y: 135px;
        background-position-x: center;
        padding: 0 8;
    }
    .rpg-text{
        font-family: 'Courier New', monospace;
        text-transform: capitalize;
        margin-left: 15%;
        font-size: 1.5rem;
        color: gold;
        
    }
    
}